body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: pink;
    color:white;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 24rem;
}

nav a {
    color:white;
    margin-right: 1rem;
}

main{
    padding: 1rem;
}

.skill{
    font-weight: bold;
}

#para{
    font-style: italic;
}

footer{
    background: gainsboro;
    text-align: center;
    padding: 1rem;
}

